<% provide(:title, @taxon.name) %>
<%= render 'categories_header', taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <%= render partial: 'product', collection: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'partners_logo' %>
